.TableBasket{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

/* .TableBasket table{
    margin: 10px 0 15px 0;
} */
.TableBasket tr td{
    padding: 20px 0;
    width: 10%;
}

.TableBasket .TableHeader{
    text-align: left;
    padding-bottom: 10px;
}

.TableBasket .TableHeader th{
    padding: 10px 0 10px;
    color: #969696;
}

.Total{
    text-align: right;
}

.SumProductsInBasket{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ActionsBasket{
    clear: both;
    text-align: right;
}

.BasketButtons{
    border: solid 2px #8ccb68;
    font-weight: bold;
    color:  #363636;
    padding: 8px 13px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    margin: 0 0 25px 20px;
    /* display: block;
    margin-left: auto;
    margin-right: 0; */

}

.priceTh{
    text-align: center;
}