.TableBasket{
    width: 100%;
    border-collapse: collapse;
}
.TableBasket tr td{
    padding: 20px 0;
    width: 10%;
}

.TableBasket .TableHeader{
    text-align: left;
    padding-bottom: 10px;
}

.TableBasket .TableHeader th{
    padding-bottom: 10px;
    color: #969696;
}