.BasketShowCount  .fa-shopping-cart{
    color: #fff;
    /* color: #8ccb68; */
    font-size: 1.7em;
    position: relative
     /* border: 1px solid #357A10;
     color: #8ccb68;
     font-size: 17px;
     margin-left: 15px;
     padding: 8px 13px;
    border-radius: 5px;
    border: solid 2px #8ccb68; */
     /* position: absolute;
     left: 20px;
     top: 13px; */
}

.BasketShowCount  .ButtonToBasket{
    border: solid 2px #8ccb68;
    font-size: 1em;
    padding: 8px 13px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    position: relative

}

.BasketShowCount .CountProductsInBasket{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #357A10;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 0.9em;
    font-weight: bold;
}

@media all and (max-width: 500px){
    .BasketShowCount  .ButtonToBasket{
        padding: 6px 10px;
    }

    .BasketShowCount .CountProductsInBasket{

        width: 20px;
        height: 20px;

        line-height: 25px;
    }

}