.Pagination{
    background-color: #fff;
    display: flex;
    padding: 0 0 30px 30px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
} 

.Pagination > li {
    display: inline;
}

.PaginationLink{
    position: relative;
    float: left;
    padding: 7px 14px;
    margin-left: -1px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #969696;
    text-decoration: none;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 0;
    margin: 0 1px;
}

.ActivePaginationLink{
    background: #fff;
    color: #508930;
    border: solid 1px #508930;
}