.CategoryMenu{
    list-style-type: none;
    max-width: 300px
}

.CategoryMenu li {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
}

.CategoryMenu a {
    color: #fff;
    text-decoration: none
}