.Contacts{
    /* display: flex;
    flex-direction: column; */
    font-weight: bold;

}

.Contacts li{
    list-style-type: none;
}

/* @media all and (max-width: 500px){
    .Contacts{
        display: none;
    }
} */