.RowProductBasket{
    font-weight: bold;
    background-color: #f9f9f9;
    text-align: center;
}
.RowProductBasket .Img{
    width: 180px;
    margin: 20px;
    /* margin: 15px 35px; */
}

.RowProductBasket .Name{
    width: 40%;
    /* margin: 20px; */
}

/* .RowProductBasket .Count{
    text-align: center;
    
} */

.RowProductBasket .CountInfo{
    width: 60%;
    height: 20px;
    text-align: center;
    border: 1px solid  #969696;
    /* border: 1px solid  #969696;; */
}

.RowProductBasket  .DelButton{
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.RowProductBasket .DelButton .fa-times-circle{
    font-size: 20px;
    color: #969696;
}

@media all and (max-width: 500px){
    .RowProductBasket .Img{
        width: 120px;
        margin: 5px;
    }

}
