.RowProductBasket{
    font-weight: bold;
    background-color: #f9f9f9;
    text-align: center;
}
.RowProductBasket .Img{
    width: 180px;
    margin: 20px;
    /* margin: 15px 35px; */
}

.RowProductBasket .Name{
    width: 40%;
    /* margin: 20px; */
}

/* .RowProductBasket .Count{
    text-align: center;
    
} */

.RowProductBasket .CountInfo{
    width: 60%;
    height: 20px;
    text-align: center;
    border: 1px solid  #969696;
    /* border: 1px solid  #969696;; */
}

.RowProductBasket  .DelButton{
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.RowProductBasket .DelButton .fa-times-circle{
    font-size: 20px;
    color: #969696;
}

.DelAnimation {
    animation: MyAnimation 0.2s;
}

@keyframes MyAnimation
{
    0% {
        opacity: 1;
        /* -webkit-transform-origin: -150% -100%; */
                /* transform-origin: 50% 50%;
        -webkit-transform: scale(1); */
        transform: translateY(0);
      }
      50%{    opacity: 0.3;
      
      }
      100% {
        opacity: 0;
        /* -webkit-transform-origin: -50% 50%;
                transform-origin: -50% -50%;
        -webkit-transform: scale(0.8); */
        transform: translateY(-100%);
      }
}

@media all and (max-width: 500px){
    .RowProductBasket .Img{
        width: 120px;
        margin: 5px;
    }

}
