.CatalogPage{
    padding: 15px;
    background-color: #fff;
    /* display: flex;
    column-gap: 3vw;
    justify-content: space-around; */

    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    /* padding: 0 2vw; */
    /* margin: 2rem 0; */
}