* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html, body {
    min-height: 100vh;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
}
.MainPage{
    min-height: 100vh;
    background: url('/img/2.jpg') no-repeat;
    /* background: url('../public/img/2.jpg') no-repeat; */
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0
}

.MainPage .Main_Container{
    display: flex;
    font-family: 'Rubik', sans-serif;
    /* flex-wrap: wrap; */
    max-width: 1400px;
    min-height: 700px;
    margin: 20px auto 20px;
    
}

.MainPage .Main_Container h1,h3{
    color:#357A10;
    margin-bottom: 10px;
}

.MainPage .Content{
    width: 90%;
    margin: 0 40px;
    color: #363636;
}

@media all and (max-width: 790px) {
    body {
        font-size: 14px;
    }
    .MainPage .Content{
        width: 90%;
        margin: 0 15px 15px;
    }
}

@media all and (max-width: 500px){
    body {
        font-size: 12px;
    }
    .MainPage .Content{
        width: 100%;
        margin: 0;
    }
}