.MenuPages{
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
    font-size: 1.25em;
    font-weight: bold;
    list-style-type: none;

}
.MenuPages .PageLink{
    /* display: inline; */
    text-decoration: none;
    padding: 10px;
    color: #fff
}

.ActivePageLink {
    background: #57ad26;;
    /* border: 1px solid #dbdbdb; */
    border-radius: 5px;

}

@media all and (max-width: 500px){
    .MenuPages .PageLink{
        padding: 5px;
    }

    .MenuPages{
        /* display: flex;
        justify-content: center; */
        /* text-align: center; */
        font-size: 1.15em;
 
    
    }
}